{% extends 'base.html' %}

{% load static %}
{% block title %}confirmation{% endblock %}
{% block content %}
<section class="w3l-about-breadcrumb">
    <div class="">
        <div class="container py-lg-5 py-md-3">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            
            <div class="alert alert-primary" role="alert">
            We have recived your appointment request,Our representative will call you
            </div>
    </div>
    <div class="text-center">
  <a href="/"> <button  class="btn btn-primary mb-4 ">HOME</button></a>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br><br>
    <br>
    <br>
    <br>
    <br>
</section>
{% endblock %}