{% extends 'base.html' %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
{% block title %}Contact{% endblock %}

{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container text-center">
    <h2>IMPORTANT TELEPHONE/MOBILE NUMBERS</h2>
    <h>Hospital Information</h>
    <br>
    <br>
    <br>
    <div class="row row-cols-2">
        <div class="col"><strong class="font-weight-bold">RECEPTION </strong><br>0471- 4005300, 2334561, 2334562, 2334563</div>
        <div class="col"><strong class="font-weight-bold">ADMINISTRATIVE OFFICER </strong><br>0471- 4005362<br>Mobile No: 9946838477</div>
        <div class="col"><strong class="font-weight-bold">NURSING SUPERINTENDENT</strong><br>0471- 4005300</div>
    
    </div>
</div>
<br>
<br>
<br>
<br>
<div class="container text-center">

    <br>
    <div class="row row-cols-2">
        <div class="col"><strong class="font-weight-bold">ACCOUNTS DEPARTMENT </strong><br>0471- 4005384, 4005348</div>
        <div class="col"><strong class="font-weight-bold">ELECTRICAL DEPARTMENT </strong><br>0471- 4005382</div>
        <div class="col"><strong class="font-weight-bold">CASUALTY</strong><br>0471- 4005300</div>

    </div>
</div>
<br>
<br>
<br>
<h6><b>For complaints please contact Administrative Officer in the number given above.</b></h6>

{% endblock %}