{% extends 'base.html' %}
{% load static %}
{% block title %}Doctors{% endblock %}

{% block content %}
<br><br> 


<section class="w3l-about-breadcrumb">
    <br>
    <br>
    <br>
    <h2 class="text-center"><b>OUR DOCTORS</b></h2>
           
</section>


<div class="container-fluid text-center ">
    {% for d in doctors %}
        <div class="card text-center mx-3 my-3 " style="width: 18rem;display: inline-block;">
            <img src="{{ d.doc_image.url}}" class="card-img-top" alt="...">
            <div class="card-body   ">
                <h5 class="card-title">Dr.{{ d.doc_name}}</h5>
                <p class="card-text">{{ d.doc_spec}}</p>
                <h6>{{ d.dep_name}}<br> Department</h6>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}