{% extends 'base.html' %}
{% load static %}
{% block title %} Home {% endblock %}

{% block content %} 
<div class="container">
    <div class="pt-5 text-white">
        <header class="py-5 mt-5">
            <h1 class="display-4">TOUCHING HUMANS LIVES</h1>
            <p class="lead mb-0">"Wherever the art of medicine is loved, there is also a love of humanity."</p>
            <p class="lead mb-0">
                
            </p>
            <img src="{% static '/images/pho.png'%}" class="d-block w-100" alt="...">
            <br>
            <p class="lead">Seeking medical treatment <strong class="font-weight-bold">outside your home country
                </strong>can be a challenge for you and your family. Your search for the best medical treatment at a <strong
                    class="font-weight-bold">reasonable </strong>
                price will lead you to explore India and the hospitals there. As you explore further you would notice that the
                success
                rate for most of the medical surgeries are on par with the best in the world.</p>
                <img src="{% static '/images/car1.jpg'%}" class="d-block w-100" alt="...">
                <br>
                <h4>Medical history</h4>
                <p class="lead">A medical certificate that you can travel overseas for treatment has to be arranged which is signed by
                    the local doctor.
                    Share your medical case history with details of treatment taken, latest medical reports and current clinical status
                    with
                    the expert team at SK Hospitals. SK Hospital strictly follows medical confidentiality and the information discussed
                    will
                    remain with the team that is engaged in the discussion.</p>
                    
        </header>
        
        <div class="py-5">
        <h4>Online Consultation</h4>
        <div class="py-5">
            <p class="lead">Once the latest medical reports are shared,  
          .<strong class="font-weight-bold">an online consultation
                </strong>with the concerned doctor can be arranged. The <strong class="font-weight-bold">doctor </strong>will suggest the options available and the most suitable treatment plan. SK Hospital will share the treatment plan with
                an estimate of likely charges</p>
                <h4>visa assistants</h4>
            <p class="lead">Once the travel date is confirmed, we will send the medical visa invitation letter. This letter is required to get the
            medical visa from the Indian embassy in your country. There is a possibility of extension of the medical visa duration
            if the treatment demands it. The International patient care team will attend to this. Foreign nationals staying in India
            for more than 180 days have to register at the FRRO (Foreigners Regional Registration Office) within 14 days of arrival.
            Hospital will provide assistance to the patient/bystanders to register at the FRRO.</p>
        </div>
        <img src="{% static '/images/car3.jpg'%}" class="d-block w-100" alt="...">
        <br>
        <h4>Airport Pick up</h4>
        <p class="lead">On request, the International patient care team can arrange an airport pickup for you. We will share the name and
        contact details of the staff who will pick you up from the airport on arrival. The staff will escort you to the hospital
        or drop you at the hotel booked.
        You will have the choice of booking a hotel online before your medical trip to India starts. We can propose a few hotels
        based on your budget and proximity to the hospital.</p>
    </div>
</div>
{% block script %}{% endblock %}
{% endblock %}
