{% extends 'base.html' %}
{% load static %}
{% block title %} Services{% endblock %}

{% block content %}
<br>
<section class="w3l-about-breadcrumb">
    <div class="breadcrumb-bg breadcrumb-bg-about py-5">
        <div class="container py-lg-5 py-md-3">
            <br>
            <h2>Services</h2>
            <p>ServicesOur Emergency Department offers you and your family the present in technology, lessened waiting time and maximum
            efficiency together with the compassionate care for which Jubilee Hospital has long been known. It is situated on the
            Ground floor and functioning around the clock. There are 8 beds in Casualty provided with the newest monitors and other
            emergency equipment. Doctors and nurses in this department are well experienced and dedicated to patient care.</p>
            <br>
            <a href="#url"><img src="{% static '/images/im.jpg' %}" class="img-fluid" alt="content-photo"></a>
            <h3><b>EMERGENCY DEPARTMENT HIGHLIGHTS INCLUDE</b></h3>
            <ul style="list-style-type: square; padding-left: 20px;">
                <li>Various modern treatment rooms</li>
                <li>Specially designed trauma rooms with built-in X-ray machines</li>
                <li>Computerized medication system</li>
                <li>24 Hours Service</li>
                <li>Centralized, efficient nursing station</li>
                <li>Dedicated X-ray rooms and Special orthopaedic room</li>
                <li>The state-of-the-art heart monitoring system</li>
                <li>Psychiatric treatment room</li>
                <li>Private family room</li>
                <li>Casualty OT</li>
                <li>Experienced Staff</li>
                <li>Well-equipped ambulance and staff for quick evacuation of patients</li>
            </ul>
            <h3><b><h3><b>EMERGENCY DEPARTMENT HIGHLIGHTS INCLUDE</b></h3></b></h3>
            <p>Our extremely trained and specialized in-house Emergency Department staffs - which covers board-certified physicians,
            doctor assistants and experienced and skilled emergency nursing staffs with certifications in emergency care – are
            always there to assist you. The passionate team of emergency trained doctors and nurses deliver prompt and professional
            care 24 hours a day, 365 days of the year.</p>
        </div>
    </div>
</section>

{% endblock %}